<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formss</title>
</head>
<body>

<form method="post" action="/"> {% csrf_token %}
  <div class="form-group">
    <label>num</label>
    <input type="number" class="form-control" placeholder="name@example.com">


  <div class="form-group">
    <label>name</label>
    <input type="text" class="form-control" placeholder="name@example.com">


      <div class="form-group">
    <label>surname</label>
    <input type="surname" class="form-control"  placeholder="name@example.com">


  <div class="form-group">
    <label>Age</label>
    <input type="number" class="form-control"  placeholder="name@example.com">


  <div class="form-group">
    <label>Address</label>
    <input type="text" class="form-control" placeholder="name@example.com">


<button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </div>
    </div>
    </div>
    </div>
</form>









</body>
</html>